body {
    background-color: #000000;
    padding-top: 50px;
    margin: 0 auto;
}

.main {
    margin-top: 50%;
    width: 500px;
    height: 500px;
    display: grid;
    /* gap: 7px; */
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    background-color: #000000;
    /* border: 1px solid #000000;  */
}


.main > div {
    color: #FFF;
    font-size: 70px;
    font-weight: 500;
    display: grid;
    align-content: center;
    justify-content: center;
    /* background-color: #000000; */
    border: 2px solid #FFFFFF;
}
section.game_data {
    display: flex;
    flex-direction: row;
    width: 300px;
    margin: 0 auto;
}

.player_mode {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 50px;
    color: red;
    margin: 0 auto;
}

/* remove border for edges */
.common:nth-child(1), .common:nth-child(2), .common:nth-child(3) {
	border-top: none;
}

.common:nth-child(1), .common:nth-child(4), .common:nth-child(7) {
	border-left: none;
}

.common:nth-child(3), .common:nth-child(6), .common:nth-child(9) {
	border-right: none;
}

.common:nth-child(7), .common:nth-child(8), .common:nth-child(9) {
	border-bottom: none;
}
